<!DOCTYPE html>
<html ng-app="myApp">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="app.js"></script>

    <style>
        .error{
            color:red;
        }
    </style>
</head>

<body ng-controller="myController">

<h1>Student Registration Form</h1>

<form name="studentForm" ng-submit="submitForm()">

    Name:
    <input type="text"
           name="name"
           ng-model="student.name"
           required>
    <br><br>

    <span class="error"
          ng-show="studentForm.name.$touched && studentForm.name.$invalid">
        Name is required
    </span>

    <br><br>

    Email:
    <input type="email"
           name="email"
           ng-model="student.email"
           required>
    <br><br>

    <span class="error"
          ng-show="studentForm.email.$touched && studentForm.email.$invalid">
        Enter a valid email
    </span>

    <br><br>

    City:

    <select ng-model="student.city">
        <option value="Delhi">Delhi</option>
        <option value="Mumbai">Mumbai</option>
        <option value="Kolkata">Kolkata</option>
    </select>

    <br><br>

    <input type="submit" value="Submit">

</form>

<hr>

<h2>Entered Data</h2>

<p>Name : {{student.name}}</p>
<p>Email : {{student.email}}</p>
<p>City : {{student.city}}</p>

</body>
</html>