<!-- 12-ng-show-ng-hide Example -->
<!DOCTYPE html>
<html ng-app="myApp">
<head>
    <script src ="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src ="app.js"></script>
</head >

<body ng-controller="myController">
<h1>12-ng-show-ng-hide</h1>
<input type="checkbox" ng-model="showText">

<p ng-show="showText">
    Welcome to AngularJS
</p>


<p ng-hide="showText">
    Check the box to see the message
</p>
<button ng-click="toggleMessage()">
    Toggle Message
</button>
<h2 ng-show="showMsg">
    Hello AngularJS!
</h2>
<h2 ng-hide="showMsg">
    Message is Hidden
</h2>


<h2> </h2>
</body>
</html>